/*body{
    background-color: blue;
}

@media only screen and (max-width: 600px){
    body{
        background-color: red;
    }

}*/
.main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.one,.two,.three{
    border: 2px solid red;
    width: 250px;
}